#wrapper {
  width: 500px;
}
body {
  font-family: sans-serif;
  font-size: 14px;
  padding: 50px;
  line-height: 18px;
}
h1 {
  font-size: 18px;
}
h2 {
  font-size: 16px;
}
.help-text {
  font-size: 12px;
  color: gray;
  font-weight: normal;
}
hr {
  color: black;
  margin: 30px 0px;
}
td {
  min-width: 50px;
  border-bottom: 1px solid lightgray;
}
th {
  border-bottom: 1px solid black;
}
